#mainWrapper {
  text-align: center;
  background-image: url("web-dev-desk-overlay-lighter.jpg");
  background-repeat: no-repeat;
  position: fixed; 
  width: 100%; 
  height: 100%; 
  max-width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3rem;
}
.searchButton{
  background-color: #448f99;
  border-radius: 20px;;
}
.headerRow {
  padding-top: 5rem;
  background-color: rgb(49, 153, 214, .4);
}
.headerColumn-1 h1{
   text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerColumn-1 p{
  padding-bottom: 5rem;
font-size: 1.3rem;
color: #f5f8cb;
text-shadow: 2px 2px 4px #000000;

}
#logoIcon {
  color: #f5f8cb;
  margin-right: 2rem;
  
}
