html {
  background: url(/assets/images/workplace-optimized-1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 65, 105);
  background-color: transparent;

 }
 .headerRow {
  padding: 3rem;

}
.headerColumn-1 {
  background-color: rgb(65, 65, 65, .6);
  }
.formWrapper {
  background-color: rgba(255, 255, 255, .6)

}
.formHeader {
  padding: 2rem 0 1rem 0;
 font-size: 1.2rem;
}
#landingButton {
  border-radius: 15px;
  margin-bottom: 5rem;
}
::placeholder {
  color: #bb2113;
  }