html {
  background: url(/assets/images/workplace-optimized-1.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  /* overflow: hidden; */
}
#mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(17, 65, 105);
  background-color: transparent;

 }
 .headerRow {
  padding: 3rem;

}
.headerColumn-1 {
  background-color: rgb(65, 65, 65, .6);
  }
.formWrapper {
  /* background-color: rgba(255, 255, 255, .6) */
  background-color: rgba(18, 112, 149, 0.6);

}
.formHeader {
  padding: 4rem;
 font-size: 1.2rem;
 color: #fff;
}

::placeholder {
  color: #6cf3d6;
  }

#landingButton {
  border-radius: 15px;
  margin-bottom: 5rem;
  padding-right: 2rem;
  padding-left: 2rem;
  box-shadow: 6px 10px 20px #033447;

}

  .landingFooter {
    background-color: rgb(65, 65, 65, .8);
    padding: 3rem;
  }
  .landingFooter p{
   padding: 3rem;
   color: #b2c7c1;
   font-size: .9rem;
  }