/* #mainWrapper {
	background-color: #fff;
	width: 100%;
	height: auto;
	max-width: 100%;
	margin: 0 auto;
} */

/* .headerRow {
	margin: 0;
	padding: 0;
} */
/* .headerColumn-1 {
	background-color: #414141;
} */
/* .headerColumn-1 h2 {
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 4rem;
	font-size: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
} */

/* .headerColumn-1 p {
	padding-bottom: 5rem;
	color: #f5f8cb;
	text-shadow: 2px 2px 4px #000000;
} */

/* #logoIcon {
	color: #f5f8cb;
	margin-right: 1rem;
	text-align: center;
} */
/* .mainContentRow-1 {
	margin-top: 1rem;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: white;
} */
/* .mainContentRow-1 h5 {
	margin-bottom: 1rem;
	color: #ed6e50;
} */

/* .mainContentColumn-1-1 {
	margin: 0;
	padding: 3rem !important;
	padding-bottom: 0 !important;
}
.mainContentColumn-1-1 p {
	margin-bottom: 2rem;
}
.mainContentColumn-1-2 {
	margin: 0;
	padding: 3rem !important;
	border-left: 1px solid #dbdbdb;
} */
/* .searchButton {
	background-color: #448f99;
	border-radius: 20px;
} */
/* #searchedJobList {
	border: 1px dotted #e28560;
	color: #e29374;
	padding: 3rem 2rem;
	width: 100%;
	margin-top: 2rem;
	height: auto;
	border-radius: 10px;
}
.card-title {
	color: #e28560;
}
.card .card-action {
	padding-bottom: 3rem;
} */

/* .footerRow {
	background-color: #414141;
	padding: 2rem;
	color: white;
} */
/* ########## Tab Styles ########## */
/* .tablink {
  background-color: #d9eef3;
  color: #3c5c6b;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
	background-color: #777;
	color: #fff;
}

.tabcontent {
  color: #333;
  display: none;
  padding: 50px;
	text-align: center;
	margin-top: 20px;
}
#jobTab, #articleTab {background-color:#f8f6f6;} */
