#mainWrapper {
	background-color: #fff;
	text-align: center;
	width: 100%;
	height: 100vh;
	max-width: 100%;
	/* padding: 3rem; */
	margin: 0 auto;
	margin-bottom: 3rem;
}

.headerRow {
	margin: 0;
	padding: 0;
	width: 100%;
}
.headerColumn-1 {
	background-color: #414141;
	padding: 0 2rem;
}

.headerColumn-1 h2 {
	text-shadow: 2px 2px 4px #000000;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 1.5rem;
	font-size: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2rem;
}

.headerColumn-1 p {
	font-size: 1.1rem;
	color: #f5f8cb;
	text-shadow: 2px 2px 4px #000000;
	padding: 0 3rem;
	padding-bottom: 5rem;
}

#logoIcon {
	color: #d0e7e1;
	margin-top: 2rem;
	text-shadow: 5px 5px 10px #000000;
}

.mainContentRow-1,
.mainContentRow-2 {
	margin-top: 1rem;
	margin-bottom: 0;
	padding-bottom: 0;
	background-color: white;
}
.mainContentRow-1 h5 {
	margin-bottom: 1rem;
	color: #ed6e50;
}
.mainContentColumn-1-1 {
	margin: 0;
	padding: 0 3rem !important;
}
.mainContentColumn-1-1 p {
	margin-bottom: 2rem;
}
.mainContentColumn-1-2 {
	margin: 0;
	padding: 0 3rem !important;
	border-left: 1px solid #dbdbdb;
}

.searchButton {
	background-color: #448f99;
	border-radius: 20px;
}
.tabColumn {
	margin-top: 2rem;
}
.tablink {
	background-color: #d9eef3;
	color: #3c5c6b;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 50%;
}

.tablink:hover {
	background-color: #777;
	color: #fff;
}

.tabcontent {
	color: #333;
	padding: 50px;
	text-align: center;
	margin-top: 20px;
}
#jobTab,
#articleTab {
	background-color: #f8f6f6;
}
.card-title {
	color: #e28560;
}
.card .card-action {
	padding-bottom: 3rem;
}

.footerRow {
	background-color: #414141;
	padding: 2rem;
	color: white;
}

#jobSaveButton,
#articleSaveButton {
	margin: 2rem auto;
	padding: 1rem;
	width: 100%;
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: #c8e2e2;
	cursor: pointer;
}
#jobSaveButton:hover,
#articleSaveButton:hover {
	background-color: #c3c3c3;
	color: #fff;
}

.jobBox,
.articleBox {
	padding: 2rem;
	margin-bottom: 3rem;
}
